doctype html
html
  head
    title Anish Dance Academy
    style
      include ../static/style2.css
  body
    nav#work
      div MyTodo
    nav#navbar
      ul
        li #[a(href="/Add_Task") Add_Task] 
        li #[a(href="/") Delete_Task]
        li #[a(href="/") Mark_as_Completed] 
        li #[a(href="/List_of_Tasks") List_of_Tasks] 
        li #[a(href="/") List_of_Pending_Tasks]
    section#WorkTodo 
        h1 Fill the Task
        <form action="/Add_Task" method="post" id="contact">
        <textarea type="text" name="work" placeholder="Add Your Task Todo.."></textarea>
        <button class="btn">Submit</button>
        </form>  
    section#footer
      h1 this is my footer