*{
    padding: 0px;
    margin: 0px;
 }
 body::before{
    opacity: 0.5;
    content: "";
    width: 100%;
    height: 800px;
    z-index: -1;
    top: 0px;
    position: absolute;
    background-color: rgb(189, 119, 27);
    background: url('static\\pexels-tejas-prajapati-586744.jpg') no-repeat center center;
    background-size: 1500px 500px cover;
     
 }
   
 #navbar{
     
    width:600px;
    height:350px;
    /* border: 2px solid black; */
    margin-left: 300px;
 }
 #navbar li{
     
    list-style: none;
   padding: 3px 12px;
      
     
      

 }
 #navbar li a{
     display:block;
     justify-content: center;
     text-align: center;
     margin: 20px 15px;
     background-color: aquamarine;
     border: 2px solid black;
     text-decoration: none;
      
    font-weight: bold;
     
     

 }
 
#navbar li a:hover{
     background-color:aliceblue;
}
#work{
    background-color: rgb(225, 13, 13);
    justify-content: center;
    text-align: center;
    height: 50px;
    padding-top: 20px;
    font-size: 2rem;
     

}
#footer{
    position: absolute;
     
    background:gray;
    margin-top:100px;
    height: 200px;
    width: 100vw;
   justify-content: center;
   text-align: center;
   padding-top: 100px;
     
    
} 

/* Add_Task */
#WorkTodo {
    justify-content: center;
    text-align: center;
     
}

textarea{
    height: 200px;
    width:400px
}

.btn{
    margin: 4px auto;
    display: block;
    padding: 5px 20px;
    background: #302d2d;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    outline: none;
 }